# Виртуальное окружение
venv/
.env/

# Файлы, сгенерированные Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Конфигурационные файлы PyCharm
.idea/

# Кэш пакетов
*.egg-info/
.eggs/
*.egg

# Логи
*.log

# Временные файлы
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# Статические файлы или временные загрузки (если есть)
uploads/
*.doc
*.docx
*.xml
